<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <!--
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            {% include icon-email.html username=site.email %}
            {% endif %}
        </ul>
      </div>
      -->

      <div class="footer-col footer-col-2">
        <table>
          <tr>
            <td colspan="3">{% include icon-email.html username=site.email %}</td>
          </tr>
          <tr>
            <td> {% include icon-cv.html %} </td>
            <td> {% include icon-github.html username=site.github_username %} </td>
            <td> {% include icon-bitbucket.html username=site.bitbucket_username %} </td>
          </tr>
        </table>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
