---
layout: default
---

<div class="blog">

  {{ content }}

  <p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a> to this blog via RSS</p>

  <ul class="post-list">
    {% for post in site.posts %}
      <hr/>
      <li>
		<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p/>
        <div>{{ post.content }}</div>
      </li>
    {% endfor %}
    <hr/>
  </ul>


</div>
