---
layout: default
---

<div class="home">


  <div style="float: right; padding-left: 20px;">
  <img src="{{ site.url }}/images/araim-psday2010.jpg"/>
  </div>
  {{ content }}

  <h1 class="page-heading">News</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.unlisted != 1 %}
      <li>
		<a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div style="font-size:80%">{{ post.excerpt }}</div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>
